<div class="container">
    <h1>Math Game</h1>
    <div class="wrapper">
        <h1>{{firstRandomNumber +  ' + ' + secondRandomNumber}} = </h1>
        <input type="text" [formControl]="userInput" (keydown.space)="$event.preventDefault">
    </div>
    <span class="message" [ngStyle]="{'color': message.includes('Correct') ? 'green' : 'red'}">{{message}}</span>
    <span class="message" *ngIf="displayAverageTiming">On average: <strong>{{displayAverageTiming}} seconds</strong> is taking you to solve this Math Game</span>
</div>
